/* debug de layout */

body:has(.debug) * {
  outline: red 1px solid;
}

/* centralizamento */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: no-wrap;
  border: 0;
}

/* container principal */

.container {
  width: min(1920px, 100%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ----------------------animações------------------------ */

@keyframes float {
  from {
    translate: 0 10px;
  }
  to {
    translate: 0 -10px;
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
